body {
  background-color: #ebfdff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
   width: 660px;
   height: 640px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__colors {
  display: flex;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn {
  width: 60px;
  height: 30px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
}

.btn:hover {
  border: 1px solid #9c9c9c;
}

.btn:active {
  background-color: #f5f5f5;
}

.mode {
  width: 165px;
}