body {
  background-color: #ebfdff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 15px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__colors {
  display: flex;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.eraser {
  border-radius: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
}

.eraser::before {
  content: "ERASER";
}

.controls__btns {
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn {
  width: 60px;
  height: 30px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.btn:hover {
  border: 1px solid #9c9c9c;
}

.btn:active {
  background-color: #f5f5f5;
}

.mode {
  width: 165px;
}

.save-as {
  width: 80px;
}

.controls__sliders {
  margin-bottom: 5px;
}
